
.navbar{
	border-radius:0;
}

.navbar-inverse{
	font-family:Bebas Neue;
	font-size:18px;
	letter-spacing:0.5px;
	color:white;
}

.navbar-inverse a{
	padding:2px;
	color:white;
}

.jumbotron{
	background: url(banniere.jpg) no-repeat center top;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	min-height: 800px;
	margin-top:-130px;
	

	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*Barre oblique*/
#inscrip:after{
	padding-left:30px;
	content:"|";
}

#inscrip:hover:after{
	color:#9d9d9d;
}

/*Barre de recherche*/
.form-control{
	width:200%;
}

/*Navbar transparente*/
.navbar-transparente{
	background-color: rgba(255,255,255,0);
	padding:0px;
	width:100%;
}

.navbar-transparente a{
	color:white;
	font-family:Bebas Neue;
	font-size:20px;
	letter-spacing:0.5px;
	
}

.navbar-transparente a:hover{
	color:#0695C4;
	background-color:rgba(255,255,255,0);
	
}

.navbar-transparente li a:hover{
	background-color:rgba(255,255,255,0);
	
}

.marque_bouton input {
	color: white;
	font-family: "Bebas Neue";
	background-color: transparent;
	font-size: 1.5em;
}

.marque_bouton input:hover {
	color: #0695C4;
}


/*--------------- div --------------------------------------------*/

@font-face{
	font-family: "Bebas Neue";
	src:url('bootstrap/fonts/BebasNeue.otf');
}
body{
	background-color: white;
}

#orange{
	background-color: #fc9779;
	margin-top: -60px;
	width: 100%;
}

h2{
	text-align: center;
	font-family: "Bebas Neue";
	color:white;
}

p{
	color: white;
	font-family: helvetica;
}

#blanc h2{
	color: #262626;
	margin-top: 50px;
}

#gris{
	background-color: #cbcbcb;
}

#blanc{
	background-color: white;
	height: 115px;
}

#blanc2{
	background-color: white;
	height: 80px;
}

#footer{
	background-color: #262626;
	text-align: center;
	font-size: 12px;
}

#gris p{
	text-align: center;
}

/* --------------------- liste produit----------------------*/

img{
	width: 100px;
}

#chaussures img{
	width: 100px;
	margin:10px;
}

#logo{
	margin-top: 20px;
}

h1{
	font-family: "Bebas Neue";
	font-size: 100px;
	letter-spacing: 3px;
	text-align: center;
	padding-bottom: 40px;
	margin-top: 10px;
}

.col-lg-10 h2{
	color: #262626;
}

#criteres{
	background-color: #cbcbcb;
	padding:10px;
	margin-bottom: 10px;
}

#criteres p{
	color: #262626;
}

#chaussures{
	background-color: #cbcbcb;
	margin-bottom: 50px;
}

@media screen and (max-width: 1200px){
	#chaussures{
	background-color: #cbcbcb;
	margin-bottom: 50px;
}
}

#espace{
	margin-top: 42.25px;
}

.texte{
	display: none;
}

#chaussures div{
	display: inline-block;
	/*height: 100px;*/
}

#chaussures p{
	width: 100px;
	text-align:justify;
}

figure{
	width: 150px;
}

figure:hover{
	background-color: #eeeeee;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

figcaption{
	margin-left: 7px;
}

/* --------------------- selection produit ----------------------*/

#produit img{
	width: 500px;
}	

#produit p{
	color: black;
}

#selection_chaussure{
	background-color:#eeeeee;
}

#description{
	text-align:justify;
	width:90%;
}

#panier{
	display:block;
	margin-top:10px;
}


@media screen and (max-width: 700px){
	#produit img{
	width: 400px;
	}
}


/*------------------------------ Connexion / mdp oublie / desinscription ---------------*/

#connexion{
	background-color: #cbcbcb;

	margin-bottom: 50px;
	padding-bottom: 10px;
	padding-left: 20px;
}








input[type="range"] {
    position: relative;
    margin-left: 0.5em;
    width: 130px;
}

/*------------------------------ Profil -------------------------------------------------*/

#profil{
	background-color: #cbcbcb;
	margin-bottom: 50px;
	padding: 20px; 
}

#profil p{
	color: black;
	text-align: center;
}






#grisnews div{
	text-align: center;
}



#gris div{
	display: inline-block;
	height: 100px;
	padding:5px;
	margin-left: 1px;
}



/*--------------------------- bugs ---------------------------------------------*/

.form-control {
	max-width: 300px;
}


/*--------------------------- admin ---------------------------------------------*/

.admin {
	background-color: #cbcbcb;
	padding:20px;
}

#boutons{
	background-color: #cbcbcb;
	padding:20px;
}



